{{!-- Setup the index.handlebars to have the template that Handlebars can render onto.
Create a button in index.handlebars that will submit the user input into the database. --}}






<div class="container"> 
  {{!-- <div class="jumbotron">  --}}
    <div class="row heading">
      <div class="col-md-12">
        <h1>Eat The Burger!</h1>
    {{!-- <br> --}}
        <img src="/assets/images/burgerpic.jpg"> 
      </div>

    </div>
    
  {{!-- </div> --}}

<!-- Available Burgers -->
  {{!-- devour list --}}
  <div class="row">
    <div class="col-md-6">
      <div class="panel-panel default">
        <h2>Available Burgers</h2>

        <ul class="list-group">
        <!-- Handlebars -->
        {{#each burgers}}
          {{#unless this.devoured}}
          <li class="list-group-item">
            <div class="input-group">
              <p class="lead"> {{this.burger_name}}</p>
              <span class="input-group-btn">
                <!-- Post Method -->
                <form action="api/burgers/update/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button class="btn btn-default btn-lg devourBtn" type="submit"> DEVOUR IT! </button>
                </form>
              </span>
            </div>
          </li>
          {{/unless}}
        {{/each}}
      </ul>
    
    </div>
    </div>

  <!-- Burgers consumed -->
    {{!-- devoured burgers --}}
    <div class="col-md-6">
      <h2>Devoured Burgers</h2>
      <div class="panel panel-default">
        <ul class="list-group">
        <!-- Handlebars -->
        {{#each burgers}}
          {{#if this.devoured}}
          <li class="list-group-item">
            <p class="lead">{{this.burger_name}} </p>
          </li>
          {{/if}}
        {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="row"> 
    <div class="col-md-12">
      <p class="lead"> Enter a burger and press submit </p>
      <!-- Add New Burgers -->
      {{!-- ready burgers --}}
      <!-- Post method -->
      <form class="create-update-form" action="api/burgers/create" method="POST">
        <div class="form-group">
          <textarea class="form-control input-lg textInputBox" type="text" name="burger_name" rows="3"> </textarea>
        </div>
      <button class="btn btn-default btn-lg submitBTN" type="submit">Submit!</button>
      </form>
  </div>
  
  </div>
</div>